@import '../../commonStyles/reset.styl'

body
  background-color: #f5ab98

.c-editor-container
  font-family: Helvetica, sans-serif
  width: 600px
  margin: 40px auto 0
  position: relative

  p
    min-height: 17px

.editor
  border: 1px solid #ddd
  cursor: text
  font-size: 16px
  min-height: 40px
  padding: 10px

.section-name
  font-size: 14px
  font-family: "Lucida Console", Monaco, monospace
